.footer {
    background: #002447;
    padding: 60px 10%;
    color: #fff;
    position: relative;
}

.footer .social-icons {
    text-align: center;
    margin-bottom: 30px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
}

.social-icons i {
    font-size: 40px;
    color: #fff;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #fdc632;
}

.footer .navbar-links ul {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}

.footer .navbar-links ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer .navbar-links ul li:hover {
    color: #fdc632;
}

.footer hr {
    border: 0.5px solid rgba(255,255,255,0.3);
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

/* Responsive */
@media screen and (max-width: 800px) {
    .footer {
        padding: 40px 5%;
    }

    .social-icons i {
        font-size: 30px;
        margin: 0 8px;
    }

    .footer .navbar-links ul li {
        margin: 0 8px;
        font-size: 14px;
    }
}
